<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Abdelkerim Ahmed" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="" />
    <meta
      name="keywords"
      content="harbu, harbu highschool, harbu school, harbu education"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <title>Harbu Highschool</title>
    <link rel="stylesheet" href="index.css" />
  </head>

  <body class="h-screen overflow-hidden flex flex-col">
    <main class=""></main>
    <script></script>
  </body>
</html>
